
:root{
    font-family: sans-serif;

}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    width: 600px;
    background-color: #f5f5f5;
    margin-left: 500px;
    margin-top: 100px;
    border: 1px solid gray;
}
h1{
    color: #007fff;
    margin-left: 130px;
}

#form-input{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
input:focus{
    outline: none;
    
}
#title{
    padding: 0px;
    height: 35px;
    width: 350px;
    margin-left: 62px;
    margin-bottom: 12px;
    border: .7px solid #333;
    border-radius: 5px;
    
    
}
/* #title #content:focus{
    outline: 1px solid #333;
    border-radius: 6px;
} */

#content{
    padding: 0px;
    height: 35px;
    width: 350px;
    margin: 15px 135px 30px 62px;
    border: .7px solid #333;
    border-radius: 5px;
    
}
::placeholder{
    padding-left: 15px;
}

#add_button{
    border: none;
    margin-left: 20px;
    width: 100px;
    height: 36px;
    background-color: #007fff;
    border:.7px solid #007fff;
    border-radius: 6px;
}
#add_button:focus{
    outline: none;
    border: .3px solid #333;
}
#error{
    margin: 0px;
    margin-left: 62px;
    color: #ff1717;
}
#myUL{
   
}
.list-element{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    width: 480px;
    border: 1px solid #2d2d2d;
    background-color: #ffffff;
    margin-left: 60px;
    margin-bottom: 40px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}
.id-todo{
        margin-left: 30px;
    margin-top: 20px;
    border-radius: 50%;
    background-color: #007fff;
    color: #ffffff;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 23px;
    padding: 5px
}

.main-title{
    margin: 0px;
    margin-left: 10px;
    width: 200px;
    font-size: 20px;
}
.main-time{
    margin-left:45px;
    font-size: 17px;
    font-weight:bold;
}
.main-content{
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 73px;
    width: 336px;
    font-weight: bold;
}

.btn-delete{
    position: absolute;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(26 , 26, 26);
    color: #ffffff;
    font-size: 23px;
    height: 25px;
    width: 25px;
    padding: 5px;
    margin-left: 463px;
    margin-top: -17px;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.list-element:hover .btn-delete{
    opacity: 75;
}
