body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    width: 500px;
    background-color: #3333;
    margin-left: 500px;
    margin-top: 100px;
    border: 1px solid gray;
}
h1{
    color: green;
    margin-left: 60px;
}

#form-input{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#title{
    height: 30px;
    width: 300px;
    margin-left: 50px;
    margin-bottom: 12px;
}
#content{
    height: 30px;
    width: 300px;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 12px;
    margin-right: 135px;
}
#add_button{
    margin-left: 20px;
    width: 80px;
    height: 36px;
}

#error{
    margin: 0px;
    margin-left: 50px;
    color: red;
}
#myUL{
   
}
.btn-delete{
 
}
.btn-delete:hover{
    
}
.list-element{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    width: 400px;
    border: .5px solid #333;
    margin-left: 50px;
    margin-bottom: 30px;
    position: relative;
}
.id-todo{
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 50%;
    background-color: #3f83dd;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 22px;
    padding: 3px;
}

.title{
    margin: 0px;
    margin-left: 10px;
    width: 200px;
}
.time{
    margin-left:35px;
}
.main-content{
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 73px;
    width: 290px;
}
.btn-delete{
    position: absolute;
    border-radius: 50%;
    text-align: center;
    background-color: #333;
    color: white;
    font-size: 20px;
    height: 25px;
    width: 25px;
    padding: 6px;
    margin-left: 381px;
    margin-top: -18px;
    opacity: 0;
}
.btn-delete:hover{
    cursor: pointer;
    opacity: 100;
}
